apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: smart-rental-monitor
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app: smart-rental
  endpoints:
  - port: http
    path: /metrics
    interval: 15s